// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Include the common styles for Angular Material.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define your custom theme.
$taskmanagement-client-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  ),
));

// Include theme styles for core and each component used in your app.
:root {
  @include mat.all-component-themes($taskmanagement-client-theme);
}

// Optional typography styles
// @include mat.typography-hierarchy($taskmanagement-client-theme);

// Optional backwards compatibility for color inputs
// @include mat.color-variants-backwards-compatibility($taskmanagement-client-theme);
